/*--------------------------------------
	- login css start
----------------------------------------*/
.mybazar-login-section {
    height: 100%;
    width: 100%;
    padding: 80px 0;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; */
  }
  
  .mybazar-login-wrapper {
    max-width: 650px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 2;
  }
  .mybazar-login-wrapper:after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    top: -3px;
    height: 100%;
    width: 100%;
    background: #00a551;
    border-radius: 32px;
    z-index: -1;
  }
  .mybazar-login-wrapper .login-header {
    padding: 30px;
    border-bottom: 1px solid rgba(12, 25, 40, 0.2);
    text-align: center;
  }
  .mybazar-login-wrapper .login-header img {
    max-width: 180px;
    width: 100%;
    margin: 0 auto;
  }
  
  .login-wrapper {
    position: relative;
    z-index: 5;
    background: #fff;
    -webkit-box-shadow: 0px 20px 50px rgba(12, 25, 40, 0.1);
    box-shadow: 0px 20px 50px rgba(12, 25, 40, 0.1);
    border-radius: 30px;
  }
  
  .login-body {
    padding: 30px;
  }
  .login-body h2 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: rgba(12, 25, 40, 0.7);
    margin-bottom: 30px;
    line-height: 1;
  }
  .login-body p {
    color: #0C1928;
    opacity: 0.5;
    text-align: center;
  }
  .login-body .input-group {
    position: relative;
    margin-top: 10px;
  }
  .login-body .input-group span {
    position: absolute;
    top: 50%;
    left: 15px;
    z-index: 5;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            z-index: 9;
  }
  .login-body .input-group .hide-pass {
    position: absolute;
    top: 50%;
    left: auto;
    right: 15px;
    z-index: 5;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            z-index: 9;
  }
  .login-body .input-group .form-control {
    padding: 12px 15px;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-left: 45px;
    border-radius: 12px !important;
    height: 50px;
    border: 1px solid rgba(12, 25, 40, .2);
    margin: 0 !important;
  }
  
  .login-btn {
    display: block;
    font-size: 16px;
    color: #fff !important;
    background: var(--main-gradient);
    border-radius: 12px;
    padding: 12px;
    width: 100%;
    margin-top: 20px;
    border: 1px solid transparent;
  }
  .login-btn:hover, .login-btn:focus {
    background: #fff !important;
    color: #000 !important;
    border: 1px solid #00a551 !important; 
  }
  
  .button-group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 10px auto 10px auto 10px auto;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
  }
  .button-group a {
    background: #25D4A9;
  }
  .button-group a:nth-child(2) {
    background: #03A9F4;
  }
  .button-group a:nth-child(3) {
    background: #9039FF;
  }
  .button-group a:nth-child(4) {
    background: #FF55B1;
  }
  
  .login-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .login-footer a {
    font-size: 16px;
    font-weight: 400;
    color: #0C1928;
    display: inline-block;
    margin: 5px;
  }
  .login-footer a {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .login-footer a span {
    margin-right: 5px;
    img{
        max-width: 100%;
        width: auto;
        position: relative;
        top: 2px;
    }
  }
  .login-footer a:hover {
    text-decoration: underline;
  }
  .hide-pas img:last-child,
.hide-pass img:last-child{
    display: none;
}
.show-pas img:first-child,
.show-pass img:first-child{
    display: none;
}
.show-pass img:last-child{
    display: block;
}

  @media (max-width: 575px) {
    .button-group {
      -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
    }
    .maan-main-content{
      padding: 25px 10px;
    }
  }
  /*--------------------------------------
      - login css end
  ----------------------------------------*/
  