.settings-card{
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(126, 126, 126, 0.3);
    box-shadow: 0px 5px 28px rgba(71, 50, 50, 0.07);
    border-radius: 12px;
    margin-bottom: 30px;
    .setting-top{
        display: flex;
        .icons{
            background: rgba(0, 165, 81, 0.1);
            height: 46px;
            width: 46px;
            min-width: 46px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            margin-right: 12px;
            img{
                height: 20px;
            }
        }
        h5{
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #1F1F1F;
            margin-bottom: 5px;
        }
        p{
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.025em;
            color: #7E7E7E;
        }
    }
}

.custom-switch-btn {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
  }
  
  .custom-switch-btn input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .custom-switch-btn .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .custom-switch-btn .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 1px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .custom-switch-btn input:checked + .slider {
    background: linear-gradient(270deg, #0EBB63 0%, #0DEF81 100%);
  }
  
  .custom-switch-btn input:focus + .slider {
    box-shadow: 0 0 1px var(--clr-main);
  }
  
  .custom-switch-btn input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .custom-switch-btn .slider.round {
    border-radius: 34px;
  }
  
  .custom-switch-btn .slider.round:before {
    border-radius: 50%;
  }
  .settings-bottom-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    a{
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.025em;
        color: #00A551;
    }
    .switch-btn-wrapper{
        span{
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.025em;
            color: #1F1F1F;
        }
    }
  }

  .advertisement-img-items{
    display: block;
    margin-top: 30px;
    img{
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        filter: drop-shadow(0px 6px 14px rgba(0, 0, 0, 0.1));
        border-radius: 20px;
    }
  }

  .permition-list{
    li{
      display: inline-block;
      margin-right: 5px;
      span{
        font-size: 13px;
      }
    }
    .custom-checkbox{
      padding-left: 22px;
    }
    .custom-checkbox .checkmark{
      height: 16px;
      width: 16px;
    }
  }