:root {
  // Responsive Container Width
  --container-width: 100%;
  --container-sm: 33.75rem;
  --container-md: 45rem;
  --container-lg: 60rem;
  --container-xl: 71.25rem;
  --container-xxl: 90rem;
  --container-fluid: 100%;

  // Gutters
  --gutter-x: 1.875rem;
  --gutter-5: 0.3125rem;
  --gutter-10: 0.625rem;
  --gutter-15: 0.9375rem;
  --gutter-20: 1.25rem;
  --gutter-25: 1.5625rem;
  --gutter-30: 1.875rem;
  --gutter-35: 2.1875rem;
  --gutter-40: 2.5rem;
  --gutter-45: 2.8125rem;
  --gutter-50: 3.125rem;

  //Font Family
  --lato-sss: 'Lato', sans-serif;

  // Font Weight
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  // Font Size
  --fs-12: 0.75rem;
  --fs-13: 0.8125rem;
  --fs-14: 0.875rem;
  --fs-15: 0.9375rem;
  --fs-16: 1rem;
  --fs-17: 1.0625rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-21: 1.3125rem;
  --fs-24: 1.5rem;
  --fs-25: 1.5625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875rem;
  --fs-32: 2rem;
  --fs-35: 2.1875rem;
  --fs-40: 2.5rem;
  --fs-45: 2.8125rem;

  // hr
  --hr-bg: var(--clr-black);
  --hr-width: 100%;
  --hr-height: 0.3125rem;
  --hr-gutter-y: 1.875rem;
  --hr-gutter-x: 0;
  --hr-padding: 0;
  --hr-radius: 0;

  // Margin
  --m: 0;
  --mt: 0;
  --mr: 0;
  --mb: 0;
  --ml: 0;
  --mx: 0;
  --my: 0;
  --m-auto: auto;
  --my-auto: auto;
  --mx-auto: auto;

  // Padding
  --p: 0;
  --pt: 0;
  --pr: 0;
  --pb: 0;
  --pl: 0;
  --px: 0;
  --py: 0;
  --p-auto: auto;
  --py-auto: auto;
  --px-auto: auto;

  // Border
  --border-width: 0.0625rem;
  --border-style: solid;
  --border-clr: transparent;
  --border: var(--border-width) var(--border-style) var(--border-clr);
  --border-t: var(--border-width) var(--border-style) var(--border-clr);
  --border-r: var(--border-width) var(--border-style) var(--border-clr);
  --border-b: var(--border-width) var(--border-style) var(--border-clr);
  --border-l: var(--border-width) var(--border-style) var(--border-clr);
  --border-x: var(--border-width) var(--border-style) var(--border-clr);
  --border-y: var(--border-width) var(--border-style) var(--border-clr);

  // Border Radius
  --radius: 0;
  --radius-t: 0;
  --radius-r: 0;
  --radius-b: 0;
  --radius-l: 0;
  --radius-full: 50%;

  // Button Component
  --btn-bg: transparent;
  --btn-clr: inherit;
  --btn-ff: var(--lato-sss);
  --btn-fs: var(--fs-16);
  --btn-py: 0.625rem;
  --btn-px: 1.125rem;
  --btn-my: var(--my);
  --btn-mx: var(--mx);

  // Shadow
  --shadow: 0px 4px 46px rgba(248, 136, 8, 0.22);
  --shadow-1: 0px 10px 43px 2px rgba(0, 0, 0, 0.15);

  // Color
  --clr-black: #000;
  --clr-black-1: #1A1A1A;
  --clr-black-2: #1D1D1D;
  --clr-black-3: #383838;
  --clr-black-4: #474747;
  --clr-black-5: #595252;
  --clr-black-6: #5E5E5E;
  --clr-black-7: #757575;
  --clr-black-8: #808080;
  --clr-white: #fff;
  --clr-white-1: #F2F2F2;
  --clr-white-2: #F4F4F4;
  --clr-white-3: #F5F5F5;
  --clr-white-4: #E1E1E1;
  --clr-white-5: #D2D2D2;
  --clr-white-6: #D4D4D4;
  --clr-red: #DA1717;
  --clr-yellow: #F88808;
  --clr-green: #5CB523;
  --clr-main: #00A551;
  --clr-text: #919699;
  --yellow-gradient: linear-gradient(89.66deg, #FFAC34 0.29%, #FFC575 99.71%);
  --cyan-gradient: linear-gradient(89.66deg, #11E4BB 0.29%, #5AFCDC 99.71%);
  --blue-gradient: linear-gradient(89.66deg, #4B9FFF 0.29%, #70B3FF 99.71%);
  --pink-gradient: linear-gradient(89.66deg, #FF5F7A 0.29%, #FF7C92 99.71%);
  --main-gradient: linear-gradient(270deg, #0EBB63 0%, #0DEF81 100%);
}