.woodland-header-section{
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    background: #fff;
    padding: 20px 30px;
}
.woodland-header-left{
    display: flex;
    align-items: center;
    width: 100%;
    form{
        width: 100%;
    }
    .woodland-sidebar-open{
        cursor: pointer;
        color: #000;
        font-size: 18px;
        margin-right: 30px;
    }
}
.woodland-search-box{
    position: relative;
    max-width: 390px;
    .form-control{
        box-shadow: none;
        border: 1px solid rgba(31, 31, 31), 0.2;
        filter: drop-shadow(0px 10px 20px rgba(17, 76, 152, 0.1));
        border-radius: 112px;
        width: 100%;
        height: 50px;
        margin: 0;
    }
    span{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        background: var(--main-gradient);
        display: block;
        font-size: 16px;
        color: #fff;
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translate(0, -50%)
    }
}
.nice-select{
    width: 100%;
    .list{
        width: 100%;
    }
}
.woodland-header-right{
    display: flex;
    align-items: center;
}
.woodland-header-curency{
    display: flex;
    align-items: center;
    margin-left: auto;
    .nice-select{
        width: auto;
        background: none;
        border: none;
        box-shadow: none;
        line-height: 28px;
        font-size: 13px;
        margin: 0;
        height: 40px;
    }
}

/* header  start css */
.woodland-header-right-side-meta{
    display: flex;
    align-items: center;
    .dropdown{
        margin-left: 30px;
    }
    .dropdown-profile-info{
        padding: 15px 20px !important;
        display: block;
        strong{
            display: block;
            font-size: 16px;
            font-weight: 600;
        }
        small{
            display: block;
            margin-top: 5px;
        }
    }
    .profile-info{
      img{
        height: 50px;
        width: 50px;
        min-width: 50px;
        border-radius: 50%;
        span{
          font-size: 16px;
        }
      }
      
      .dropdown-menu{
        background: #FFFFFF;
        border-radius: 10px !important;
        li{
          border-bottom: 1px solid #e9e9e9;
          font-size: 14px;
          padding: 0;
          display: block;
          a{
            display: block; 
            color: #aaabae;
            padding: 15px 15px;
            i{
              margin-right: 10px;
            }
            &:hover{
              color: var(--clr-main);
              svg{
                path{
                    fill: var(--clr-main);
                }
              }
            }
          }
        }
      }
    }
    .dropdown-menu{
      top: 60% !important; 
      border: none;
      border-radius: 2px !important;
      padding: 0;
      min-width: 220px;
    }
  }
  .notifications.dropdown > a {
    position: relative;
    display: block;
    padding: 0;
    color: #737881;
    text-align: center;
  }
  .notifications.dropdown > a.show {
    background-color: #eee;
    -webkit-border-radius: 3px 3px 0 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px 3px 0 0;
    -moz-background-clip: padding;
    border-radius: 3px 3px 0 0;
    background-clip: padding-box;
  }
  .bg-info{
    background: #21a9e1;
    color: #fff;
  }
  .text-red{
    color: red !important;
  }
  .notifications{
      .dropdown-toggleer{
        position: relative;
        span{
          display: block;
          height: 17px;
          width: 17px;
          border-radius: 50%;
          line-height: 17px;
          text-align: center;
          font-size: 10px;
          position: absolute;
          top: -6px;
          right: -6px;
        }
      }
      .dropdown-menu{
        top: 0 !important;
        background: #eee;
        min-width: 370px;
      }
      ul{
        li{
          a{
            padding: 10px 20px;
            display: block;
            border-top: 1px solid #ddd;
            span, strong{
              display: block;
              font-size: 12px;
            }
            span{
              color: #888888;
              line-height: 1;
              margin-top: 5px;
            }
          }
        }
      }
  }
  .notification-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #eee;
    p{
      font-size: 12px;
    }
    a{
      font-size: 12px;
    }
  }
  .bg-red{
    background: #ee4749;
    color: #fff;
  }
  .notification-footer{
    background: #fff;
    padding: 10px;
    line-height: 1;
    a{
      font-size: 12px;
      line-height: 1;
    }
  }
  .msg-items{
    display: flex !important;
    align-items: center;
    .content{
      width: 100%;
      strong{
        display: flex;
        span{
          margin: 0;
          margin-left: 10px;
          font-weight: 400;
        }
      }
    }
    img{
      height: 50px;
      width: 50px;
      min-width: 50px;
      border-radius: 50%;
      margin-left: 15px;
    }
  }
  .bg-yellow{
    background: yellow;
  }
  /* header  end css */
  